<p><%=@game.player_1.name%> has attacked <%=@game.player_2.name%>!</p></br>
<p><%=@game.player_2.name%> has <%=@game.player_2.points%> points</p></br>
<form action="/play">
  <input type="submit" value="Next Round">
</form>