<body style="font-family: monospace">
  <h1 style="color: pink">Battle!</h1>
  <h3 style="color: navy">Enter your names to get started</h3>
  <form action="/names" method="post">
    <label for="name1">
      Player one name
      <input type="text" name="name1">
    </label>
    </label for="name2">
      Player two name
      <input type="text" name="name2">
    </label>
    <input type="submit" value="Submit">
  </form>
</body>